---
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";

import { HOME, SITE, SOCIALS } from "@consts";

import type { SanityPostEntry } from "@components/ArrowCard.astro";

const POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
  && !(_id in path('drafts.**'))
]|order(publishedAt desc)[0...${SITE.NUM_POSTS_ON_HOMEPAGE}]{
  _id,
  title,
  slug,
  publishedAt,
  description
}`;

const recentPosts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate text-8xl font-extrabold text-black dark:text-white">
        About <strike>Ryan Rey</strike>
        <span class="text-bungee">r2</span>
      </h1>

      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                With 7 years of experience in startups, IT consulting, and
                system integrations, I specialize in building sleek,
                user-friendly web applications. From landing pages to
                enterprise-level solutions, I've worked with modern frameworks
                like <Link href="https://react.dev">React</Link>, <Link
                  href="https://nextjs.org">Next.js</Link
                >, and <Link href="https://www.typescriptlang.org"
                  >TypeScript</Link
                >, always striving to deliver exceptional user experiences.
              </p>
            </span>

            <span class="animate">
              <p>
                Outside of work, my interest lies in bouldering, skateboarding,
                riding my fixie around the city and shooting photos.
              </p>
            </span>

            <span class="animate">
              <p>
                Writing short posts about concepts I'm learning to deepen my
                understanding and refine my mental models.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest notes
            </h2>
            <Link href="/notes"> See all notes </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              recentPosts.map((post) => {
                const entry: SanityPostEntry = {
                  collection: "notes",
                  slug: post.slug?.current ?? "",
                  data: {
                    title: post.title ?? null,
                    description: post.description ?? null,
                  },
                };
                return (
                  <li>
                    <ArrowCard entry={entry} />
                  </li>
                );
              })
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              I'm currently accepting freelance projects depending on the fit.
              Let's chat!
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
